button {
  border: none;
  font-size: xx-large;
  color: rgb(172, 36, 84);
  background-color: white;
  height: 5vh;
  /* margin-top: 150px; */
}

.buttons {
  justify-content: space-between;
  display: flex;
  background-color: rgb(172, 36, 84);
  height: 20vh;
}

button:hover {
  background-color: rgb(172, 36, 84);
  color: white;
}

.theboard {
  display: flex;
  width: 85%;
  justify-content: space-evenly;
  margin: 5%;
  border: rgb(172, 36, 84) solid 2px;
  margin-left: 7%;

}

.day {
  font-size: larger;
  height: 60vh;
  border: rgb(172, 36, 84) solid 2px;
  width: 20%;

}

.today {
  font-size: larger;
  height: 60vh;
  background-color: rgba(172, 36, 84, 0.519);
  border: rgb(172, 36, 84) solid 2px;
  width: 20%;
  color: rgb(172, 36, 84);
}

.imgIcon {
  width: 10%;
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  cursor: not-allowed;
}


.showUser {
  margin-top: 125px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  height: 50px;
  font-size: small;
  cursor: pointer;
}

.but1 {
  /* margin-top: 350px; */
  color: rgb(172, 36, 84);
  font-size: large;
  border-bottom: rgba(0, 0, 0, 0.552) dashed 1px;
  border-top: rgba(0, 0, 0, 0.552) dashed 1px;
  border-left: rgba(0, 0, 0, 0.552) dashed 1px;
}

.but2 {
  /* margin-top: 1px; */
  color: rgb(172, 36, 84);
  font-size: large;
  border: rgba(0, 0, 0, 0.552) dashed 1px;
}

.but3 {
  margin-top: 4px;
  color: rgb(172, 36, 84);
  font-size: large;
  border-bottom: rgba(172, 36, 84, 0.765) dashed 1px;
  border-top: rgba(172, 36, 84, 0.765) dashed 1px;
  border: rgba(172, 36, 84, 0.765) dashed 1px;
}

.but1:hover, .but2:hover {
  border: rgb(172, 36, 84) dashed 1px;
  color: rgba(172, 36, 84, 0.765);
  background-color: white;

}

.myEvent {
  margin-top: 7px;
  margin-left: 5px;
  width: 95%;
  color: rgb(172, 36, 84);
  font-size: large;
  height: auto;
  cursor: grab;
}

#dialogShow {
  border: rgba(172, 36, 84, 0.765) 1px dashed;
  background-color: white;
  width: 40%;
  height: 35vh;
  border-radius: 3%;
}

.butx {
  border: none;
  height: 8%;
  color: rgb(172, 36, 84);
  margin-top: 0px;
  padding-top: 0%;
  cursor: pointer;
}

.butx:hover {
  color: rgba(172, 36, 84, 0.765);
  background-color: white;
  margin-top: 0px;
  padding-top: 0%;
}

.bot {

  margin-top: 150px;
}

.wellcome {
  background-color: rgba(172, 36, 84, 0.765);
  color: white;
  width: 20%;
  height: 7vh;
  justify-content: center;
  text-align: center;
  margin: 0%;
}

a {
  height: max-content;
  width: max-content;
}

.menuButtons {
  width: 10%;
  
}

/* @aWellcome{} */